<appSettings>

  <add key="CacheType" value="1" />
  
  <add key="RedisIP" value="172.16.0.102" />
  <add key="RedisPort" value="6379" />
  <add key="RedisDB" value="5" />
  <add key="RedisSlotName" value="RedisTinxe" />
  
  <add key="RedisDBForCachePage" value="6" />
  <add key="RedisSlotNameForCachePage" value="RedisTinxeForCachePage"/>

  <add key="RedisDBQueue" value="2" />
  <add key="PreCacheKey" value="tinxe" />

  <add key="MaxDayExpired" value="1" />
  <add key="LongCacheTime" value="5" />
  <add key="MediumCacheTime" value="5" />
  <add key="ShortCacheTime" value="5" />
  <add key="NoImage" value="/Content/Web/images/noimage.4.3.jpg" />
  <add key="NoImage43" value="/Content/Web/images/noimage.4.3.jpg" />
  <add key="NoImage169" value="/Content/Web/images/noimage.16.9.jpg" />
  <add key="TargetExternal" value="6" />


  <add key="RequireCaptcha" value="true" />
  <add key="DomainImage" value="https://img.tinxe.vn" />

  <add key="Domain" value="carnews.vn" />
  <add key="BaseUrl" value="http://carnews.vn/" />

  <add key="DomainMobile" value="m.carnews.vn" />
  <add key="BaseMobileUrl" value="http://m.carnews.vn/" />

  <add key="SiteMapPath" value="~/SiteMapFiles/"/>
  <add key="PassSitemap" value="123"/>
  
  <add key="EmailSupport" value="hotro@tinxe.vn"/>


  <add key="TopNewsOther" value="3" />
  <add key="TopNewsHighlight" value="5" />
  <add key="TopNewsCategoryHighLight" value="5" />
  <add key="TopAssessmentLastest" value="4" />
  <add key="TopTagCloud" value="5" />
  <add key="TopBoxNewsEmbed" value="1" />
  <add key="PageSizeCarAssessment" value="15" />

  <!--TopMenuPrice = 0 thì hiển thị tất cả menu-->
  <add key="TopMenuPrice" value="0" />

  <add key="NotfoundPage" value="/404notfound" />
  <add key="NotfoundContent" value="/notfound" />

  <add key="StaticsZipOptimize" value="true" />
  <!-- PackerEncoding { None = 0, Numeric = 10, Mid = 36, Normal = 62, HighAscii = 95 }; -->
  <add key="BundleConfigEncoding" value="95"/>
  <add key="AllowCachePage" value="true"/>
  <add key="DefaultDurationCache" value="300" />
  <add key="CacheByDomain" value="OnMobile"/><!-- OnDesktop-->
  <add key="CrawlerDetected" value="false"/>
</appSettings>