<connectionStrings>
  
  <!--<add name="MasterConnection" connectionString="Data Source=172.16.0.168,59500;Initial Catalog=TinXe;Persist Security Info=True;User ID=topbank;Password=topbank123;MultipleActiveResultSets=True" />
  <add name="SlaveConnection" connectionString="Data Source=172.16.0.168,59500;Initial Catalog=TinXe;Persist Security Info=True;User ID=topbank;Password=topbank123;MultipleActiveResultSets=True" />-->

  <add name="MasterConnection" connectionString="Data Source=192.168.100.179;Initial Catalog=tinxe;Persist Security Info=True;User ID=CarNews;Password=carnews123#@!;MultipleActiveResultSets=True" />
  <add name="SlaveConnection" connectionString="Data Source=192.168.100.179;Initial Catalog=tinxe;Persist Security Info=True;User ID=CarNews;Password=carnews123#@!;MultipleActiveResultSets=True" />
  
</connectionStrings> 