
<div class="col-md-3">
    <ul class="menu-about sidebar_page">
        <li><a class="active" href="/gioi-thieu/ve-chung-toi.html">Về chúng tôi</a></li>
    </ul>
</div>

<div class="col-md-9">

    @Html.Action("Breadcrumb", "Category", new { cateName = "Giới thiệu" })

    <div class="about-detail content clearfix">
        <h1 title="Về chúng tôi">
            Về chúng tôi
        </h1>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="rte">
                <div>
                    <div>
                        <p>Seafood chuyên cung cấp sỉ và lẻ các loại hải sản tươi sống, hải sản đóng hộp với các sản phẩm chính sau:&nbsp;</p>

                        <ul>
                            <li><strong>﻿Tôm</strong></li>
                            <li><strong>Cá</strong></li>
                            <li><strong>Hàu</strong></li>
                            <li><strong>Bào Ngư</strong></li>
                            <li><strong>Ngao - Sò - Ốc</strong></li>
                            <li><strong>Mực</strong></li>
                            <li><strong>Chả cá và các loại hải sản khác......</strong></li>
                        </ul>

                        <p>﻿Những sản phẩm cung cấp đến bạn là 100% từ thiên nhiên luôn tươi ngon, sạch. Hầu hết các sản phẩm có nguồn gốc từ các vùng biển Cam Ranh, Phan Thiết, Nha Trang....</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
