

<div class="col-md-9">

    @Html.Action("Breadcrumb", "Category", new { cateName = "Hướng dẫn mua hàng" })

    <div class="page-option">
        <h1 class="title">
            <span>Hướng dẫn mua hàng</span>
        </h1>
        <div class="page-option-block">
            <p style="border: 0px; margin: 0px 0px 20px; padding: 0px; font-size: 16px; color: rgb(51, 51, 51); font-family: Arial, Tahoma, Verdana; line-height: 20px;">
                <strong style="border: 0px; margin: 0px; padding: 0px;">Bước 1:</strong>
            </p>
            <p style="border: 0px; margin: 0px 0px 20px; padding: 0px; font-size: 14px; color: rgb(51, 51, 51); font-family: Arial, Tahoma, Verdana; line-height: 20px;">
                Chọn sản phẩm, màu sắc, số lượng muốn mua.... Sau đó click vào nút&nbsp;<strong style="border: 0px; margin: 0px; padding: 0px;">"MUA NGAY"</strong>
            </p>
            <p style="border: 0px; margin: 0px 0px 20px; padding: 0px; font-size: 14px; color: rgb(51, 51, 51); font-family: Arial, Tahoma, Verdana; line-height: 20px;">
                <img src="http://www.mydeal.vn/img/step-1.jpg" style="border: 0px; margin: 0px; padding: 0px; font-size: 0px; color: transparent; vertical-align: middle;">
            </p>
            <p style="border: 0px; margin: 0px 0px 20px; padding: 0px; font-size: 16px; color: rgb(51, 51, 51); font-family: Arial, Tahoma, Verdana; line-height: 20px;">
                <strong style="border: 0px; margin: 0px; padding: 0px;">Bước 2:</strong>
            </p>
            <p style="border: 0px; margin: 0px 0px 20px; padding: 0px; font-size: 14px; color: rgb(51, 51, 51); font-family: Arial, Tahoma, Verdana; line-height: 20px;">
                Hệ thống dẫn bạn vào trang giỏ hàng, vui lòng kiểm tra tên sản phẩm, số lượng, màu sắc, giá tiền, tổng tiền....Tại đây bạn có thể thay đổi màu sắc, số lượng, xóa sản phẩm không muốn mua hoặc có thể trở về trang chủ để tiếp tục mua hàng. Nếu muốn thanh toán đơn hàng, vui lòng click vào nút&nbsp;<strong style="border: 0px; margin: 0px; padding: 0px;">"Đặt hàng"</strong>
            </p>
            <p style="border: 0px; margin: 0px 0px 20px; padding: 0px; font-size: 14px; color: rgb(51, 51, 51); font-family: Arial, Tahoma, Verdana; line-height: 20px;">
                <img src="http://www.mydeal.vn/img/step-2.jpg" style="border: 0px; margin: 0px; padding: 0px; font-size: 0px; color: transparent; vertical-align: middle;">
            </p>
            <p style="border: 0px; margin: 0px 0px 20px; padding: 0px; font-size: 16px; color: rgb(51, 51, 51); font-family: Arial, Tahoma, Verdana; line-height: 20px;">
                <strong style="border: 0px; margin: 0px; padding: 0px;">Bước 3:</strong>
            </p>
            <p style="border: 0px; margin: 0px 0px 20px; padding: 0px; font-size: 14px; color: rgb(51, 51, 51); font-family: Arial, Tahoma, Verdana; line-height: 20px;">
                Hệ thống dẫn bạn vào trang thông tin mua hàng. Nếu bạn đã có tài khoản tại mydeal.vn, vui lòng chọn&nbsp;<strong style="border: 0px; margin: 0px; padding: 0px;">"Đăng nhập"</strong>. Nếu bạn muốn đăng ký tài khoảng, vui lòng chọn&nbsp;<strong style="border: 0px; margin: 0px; padding: 0px;">"Đăng ký"</strong>. Nếu muốn đặt hàng nhanh mà không cần đăng ký, vui lòng nhập đầy đủ thông tin vào bảng mẫu bên dưới:
            </p>
            <p style="border: 0px; margin: 0px 0px 20px; padding: 0px; font-size: 14px; color: rgb(51, 51, 51); font-family: Arial, Tahoma, Verdana; line-height: 20px;">
                <img src="http://www.mydeal.vn/img/step-3.jpg" style="border: 0px; margin: 0px; padding: 0px; font-size: 0px; color: transparent; vertical-align: middle;">
            </p>
            <p style="border: 0px; margin: 0px 0px 20px; padding: 0px; font-size: 14px; color: rgb(51, 51, 51); font-family: Arial, Tahoma, Verdana; line-height: 20px;">
                Để kết thúc đặt hàng, vui lòng chọn&nbsp;<strong style="border: 0px; margin: 0px; padding: 0px;">"Hoàn tất đặt hàng"</strong>
            </p>
            <p style="border: 0px; margin: 0px 0px 20px; padding: 0px; font-size: 16px; color: rgb(51, 51, 51); font-family: Arial, Tahoma, Verdana; line-height: 20px;">
                <strong style="border: 0px; margin: 0px; padding: 0px;">Bước 4:</strong>
            </p>
            <p style="border: 0px; margin: 0px 0px 20px; padding: 0px; font-size: 14px; color: rgb(51, 51, 51); font-family: Arial, Tahoma, Verdana; line-height: 20px;">
                Hệ thống thông báo bạn đặt hàng thành công. Chúc mừng bạn !
            </p>
            <p style="border: 0px; margin: 0px 0px 20px; padding: 0px; font-size: 14px; color: rgb(51, 51, 51); font-family: Arial, Tahoma, Verdana; line-height: 20px;">
                <img src="http://www.mydeal.vn/img/step-4.jpg" style="border: 0px; margin: 0px; padding: 0px; font-size: 0px; color: transparent; vertical-align: middle;">
            </p>

        </div>
    </div>
</div>
<div class="col-md-3">
    @Html.Partial("~/Views/Home/_SupportOnline.cshtml")
</div>
