
<div class="col-md-3">
    @Html.Partial("~/Views/Home/_SupportOnline.cshtml")
</div>

<div class="col-md-9">
    <div class="contact-content">
        <h1 class="title clearfix">
            <span>
                Bản đồ
            </span>
        </h1>
        <div id="map_contact">
            <input type="hidden" id="hdX" value="@Const.MapPositionX" />
            <input type="hidden" id="hdY" value="@Const.MapPositionY" />
        </div>
    </div>
</div>
