

@*<div id="blog_menu" class="sidebar_blogs content_menu">
    <h3 title="danh mục blog" class="sidebar_title">Tin tức</h3>
    <ul id="nav_blog_sidebar" class="nav_sidebar">
        <li><a href="/tin-tuc/tin-hai-san">Tin hải sản</a></li>
        <li><a href="/tin-tuc/mon-ngon-moi-ngay">Món ngon mỗi ngày</a></li>
    </ul>
</div>*@
