<appSettings>

  <add key="CacheType" value="0" />
  <add key="RedisIP" value="172.16.0.102" />
  <add key="RedisPort" value="6379" />
  <add key="RedisDB" value="5" />
  <add key="RedisSlotName" value="RedisVegan" />
  <add key="RedisDBQueue" value="2" />
  <add key="PreCacheKey" value="veganmart" />

  <add key="MaxDayExpired" value="1" />
  <add key="LongCacheTime" value="5" />
  <add key="MediumCacheTime" value="5" />
  <add key="ShortCacheTime" value="5" />

  <add key="StaticsZipOptimize" value="true" />
  <!-- PackerEncoding { None = 0, Numeric = 10, Mid = 36, Normal = 62, HighAscii = 95 }; -->
  <add key="BundleConfigEncoding" value="95"/>

  <!--<add key="DebugMode" value="false"/>-->
  <add key="CrawlerDetected" value="false"/>

  <add key="Domain" value="Veganmart.vn" />
  <!--<add key="BaseUrl" value="http://172.16.0.170:61051/" />-->
  <add key="BaseUrl" value="http://veganmart.vn/" />
  
  <add key="EmailSupport" value="hotro@veganmart.vn"/>
  <add key="Hotline" value="098 646 3883"/>
  <add key="Companny" value="Siêu thị đồ chay"/>
  <add key="Address" value="Văn Quán - Hà Đông - Hà Nội"/>
  <add key="MapPositionX" value="20.979700"/>
  <add key="MapPositionY" value="105.792906"/>  

  <!--<add key="NotfoundPage" value="/404notfound" />
  <add key="NotfoundContent" value="/notfound" />-->
  
  <!--<add key="DomainImage" value="http://172.16.0.170:61092" />-->
  <add key="DomainImage" value="http://img.veganmart.vn" />
  <add key="NoImage" value="images/noimage.jpg" />

  <add key="PageSizeProduct" value="12"/>
  <add key="PageSizeArticle" value="8"/>

  <!--Meta data-->

  <add key="MetaMainTitle" value="Siêu thị đồ chay - VeganMart.vn"/>
  <add key="MetaMainDescription" value="Siêu thị đồ chay - VeganMart.vn"/>
  <add key="MetaMainKeyword" value=""/>

  <add key="MetaProductTitle" value="Siêu thị đồ chay - VeganMart.vn"/>
  <add key="MetaProductDescription" value="Siêu thị đồ chay - VeganMart.vn"/>
  <add key="MetaProductKeyword" value=""/>

  <add key="MetaNewsTitle" value="Siêu thị đồ chay - VeganMart.vn"/>
  <add key="MetaNewsDescription" value="Siêu thị đồ chay - VeganMart.vn"/>
  <add key="MetaNewsKeyword" value=""/>

  <add key="MetaAboutTitle" value="Siêu thị đồ chay - VeganMart.vn"/>
  <add key="MetaAboutDescription" value="Siêu thị đồ chay - VeganMart.vn"/>

  <!--Meta data-->

</appSettings>