<connectionStrings>

  <add name="MasterConnection" connectionString="Data Source=WIN-HQ53TBM33EP;Initial Catalog=VeganMart;Persist Security Info=True;User ID=khaitri;Password=1234$#@!;MultipleActiveResultSets=True" />
  <add name="SlaveConnection" connectionString="Data Source=WIN-HQ53TBM33EP;Initial Catalog=VeganMart;Persist Security Info=True;User ID=khaitri;Password=1234$#@!;MultipleActiveResultSets=True" />

</connectionStrings>
