<div class="header">

    @*<script src="/Scripts/common/login.js" type="text/javascript"></script>*@
    <section class="top-link clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav navbar-nav topmenu-contact pull-left">
                        <li><i class="fa fa-phone"></i> <span>Hotline:098 646 3883</span></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right topmenu  hidden-xs hidden-sm">
                        <li class="order-check"><a href="/kiem-tra-don-hang.html" ref="nofollow"><i class="fa fa-pencil-square-o"></i> Kiểm tra đơn hàng</a></li>
                        <li class="order-cart"><a href="/gio-hang.html" ref="nofollow"><i class="fa fa-shopping-cart"></i> Giỏ hàng</a></li>
                        <li class="account-login"><a href="/dang-nhap.html" ref="nofollow"><i class="fa fa-sign-in"></i> Đăng nhập </a></li>
                        <li class="account-register"><a href="/dang-ky.html" ref="nofollow"><i class="fa fa-key"></i> Đăng ký </a></li>
                    </ul>
                    <div class="show-mobile hidden-lg hidden-md">
                        <div class="quick-user">
                            <div class="quickaccess-toggle">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="inner-toggle">
                                <ul class="login links">
                                    <li>
                                        <a href="/dang-ky.html" ref="nofollow"><i class="fa fa-sign-in"></i> Đăng ký</a>
                                    </li>
                                    <li>
                                        <a href="/dang-nhap.html" ref="nofollow"><i class="fa fa-key"></i> Đăng nhập</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="quick-access">
                            <div class="quickaccess-toggle">
                                <i class="fa fa-list"></i>
                            </div>
                            <div class="inner-toggle">
                                <ul class="links">
                                    <li><a id="mobile-wishlist-total" href="/kiem-tra-don-hang.html" class="wishlist" ref="nofollow"><i class="fa fa-pencil-square-o"></i> Kiểm tra đơn hàng</a></li>
                                    <li><a href="/gio-hang.html" class="shoppingcart"><i class="fa fa-shopping-cart" ref="nofollow"></i> Giỏ hàng</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Header -->
    <header id="header">
        <div id="header_main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-8">
                        <!--logo-->

                        <h1 class="pull-left">
                            <a href="/" class="logo" title="Siêu thị đồ chay - VeganMart.vn">
                                <img src="/Images/logo.jpg" alt="veganmart.vn" title="Siêu thị đồ chay - veganmart.vn">
                            </a>
                        </h1>

                        <!-- end logo -->
                    </div>
                    <div class="col-lg-6 col-md-5 col-sm-4 hidden-xs">
                        <!-- Search -->
                        <div class="search_box">
                            <div class="search_wrapper">
                                <input type="text" name="search" class="index_input_search" id="txtsearch" onblur="if(this.value=='')this.value='Nhập từ khóa tìm kiếm...'"
                                       onfocus="if(this.value=='Nhập từ khóa tìm kiếm...')this.value=''" value="Nhập từ kh&#243;a t&#236;m kiếm..." />
                                <button class="btn_search_submit btn " type="button" id="btnsearch"><span>Tìm ngay</span></button>
                            </div>
                        </div>
                        <!-- End Search -->
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <!-- Cart -->
                        <div class="cart_header">
                            <a href="/gio-hang.html" title="Giỏ hàng" ref="nofollow">
                                <span class="cart_header_icon"></span>
                                <span class="box_text">
                                    <strong class="cart_header_count">Giỏ hàng <span>(0)</span></strong>
                                    <span class="cart_price">0₫</span>
                                </span>
                            </a>
                            <div class="cart_clone_box">
                                <div class="cart_box_wrap hidden">
                                    <div class="cart_item original clearfix">
                                        <div class="cart_item_image"></div>
                                        <div class="cart_item_info">
                                            <p class="cart_item_title"><a href="" title="" ref="nofollow"></a></p>
                                            <span class="cart_item_quantity"></span>
                                            <span class="cart_item_price"></span>
                                            <span class="remove"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cart_header_top_box">
                                <div class="cart_empty">Giỏ hàng của bạn vẫn chưa có sản phẩm nào.</div>
                            </div>
                        </div>
                        <!-- End Cart -->
                        <!-- Account -->
                        <div class="user_login">
                            <div class="user_login_icon"></div>
                            <div class="box_text">
                                <strong>Tài khoản</strong>
                                <!--<span class="cart_price">Đăng nhập, đăng ký</span>-->
                            </div>
                            <div class="user_box">
                                <ul>
                                    <li><a href="/dang-nhap.html" ref="nofollow">Đăng nhập</a></li>
                                    <li><a href="/dang-ky.html" ref="nofollow">Đăng ký</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End account -->
                    </div>
                </div>
            </div>
        </div>
        <div id="header_mobile">
            <div class="container">
                <div class="row">
                    <!-- Menu mobile -->
                    <button type="button" class="navbar-toggle collapsed" id="trigger_click_mobile">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div id="mobile_wrap_menu" class="visible-xs visible-sm">
                        <div class="user_mobile">
                            <div class="icon_user_mobile">
                                <img src="/Content/assets/100004/images/user_mobile.png" alt="account">
                            </div>
                            <div class="login_mobile">

                                <a href="/dang-nhap.html" class="login-btn" ref="nofollow">Đăng nhập </a><a href="/dang-ky.html" class="login-btn" ref="nofollow"> / Đăng ký</a>
                            </div>
                            <div class="close_menu"></div>
                        </div>
                        <div class="content_menu">
                            <ul>
                                <li class="level0"><a class='' href='/'><span>Trang chủ</span></a></li>
                                <li class="level0"><a class='' href='/ban-do-chay'><span>Đồ chay</span></a></li>
                                <li class="level0"><a class='' href='/cam-nang-nau-an'><span>Cẩm nang nấu chay</span></a></li>
                                <li class="level0"><a class='' href='/gioi-thieu'><span>Giới thiệu</span></a></li>
                                <li class="level0"><a class='' href='/lien-he'><span>Liên hệ</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End menu mobile -->
                    <div class="pull-right mobile-menu-icon-wrapper">
                        <!-- Logo mobile -->
                        <div class="logo logo-mobile">
                            <a href="/" title="Siêu thị đồ chay - veganmart.vn">
                                <img src="/Images/logo.jpg" alt="Siêu thị đồ chay - veganmart.vn">
                            </a>
                        </div>
                        <!-- End Logo mobile -->
                        <!-- Cart mobile -->
                        <div class="cart_header" id="cart-target">
                            <a href="/gio-hang.html" title="Giỏ hàng">
                                <div class="cart_header_icon"></div>
                                <div class="box_text">
                                    <strong class="cart_header_count"><span>0</span></strong>
                                </div>
                            </a>
                        </div>
                        <!-- End Cart mobile -->
                    </div>
                    <div class="clearfix"></div>
                    <!-- Search mobile -->
                    <div class="search_mobile col-md-12">
                        <div class="search_box">
                            <div class="search_wrapper">
                                <input type="text" name="search" class="index_input_search" id="txtsearch2" onblur="if(this.value=='')this.value='Nhập từ khóa tìm kiếm...'"
                                       onfocus="if(this.value=='Nhập từ khóa tìm kiếm...')this.value=''" value="Nhập từ kh&#243;a t&#236;m kiếm..." />
                                <button class="btn_search_submit btn " type="button" id="btnsearch2"><span><i class="fa fa-search"></i></span></button>
                            </div>
                        </div>
                    </div>
                    <!-- End search mobile -->
                </div>
            </div>
        </div>
    </header>
    <!-- End header -->
    @*<script type="text/javascript">
            $("#btnsearch").click(function () {
                SearchProduct();
            });
            $("#btnsearch2").click(function () {
                SearchProduct2();
            });
            $("#txtsearch").keydown(function (event) {
                if (event.keyCode == 13) {
                    SearchProduct();
                }
            });
            $("#txtsearch2").keydown(function (event) {
                if (event.keyCode == 13) {
                    SearchProduct2();
                }
            });
            function SearchProduct() {
                var key = $('#txtsearch').val();
                if (key == '' || key == 'Tìm kiếm...') {
                    $('#txtsearch').focus();
                    return;
                }
                window.location = '/tim-kiem.html?key=' + key;
            }
            function SearchProduct2() {
                var key = $('#txtsearch2').val();
                if (key == '' || key == 'Tìm kiếm...') {
                    $('#txtsearch2').focus();
                    return;
                }
                window.location = '/tim-kiem.html?key=' + key;
            }
        </script>*@
    <!--Template--
    --End-->
    <!-- Main menu -->
    <nav class="navbar-main">
        <div id="mb_mainnav">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12 vertical_menu">
                        <div id="mb_verticle_menu" class="menu-quick-select">
                            <div class="title_block">
                                <span>Danh mục sản phẩm</span>
                            </div>
                            <div id="menuverti" class="block_content navbar_menuvertical">
                                <ul class='nav_verticalmenu'>
                                    <asp:Repeater ID="rptListCatalog" runat="server">
                                        <ItemTemplate>
                                            <li class="level0"><a class='' href='/<%#Eval("DisplayUrl")%>'><%--<img class='icon-menu' src='/Uploads/icon/s2.png' alt='Bào ngư'>--%> <span><%#Eval("Name")%></span></a></li>
                                        </ItemTemplate>
                                    </asp:Repeater>

                                </ul>
                                <%--<ul class='nav_verticalmenu'>
                                    <li class="has-child level0">
                                        <a class='' href='/san-pham/nghao-so-oc-33804'><img class='icon-menu' src='/Uploads/icon/s1.png' alt='Nghao - Sò - Ốc'> <span>Nghao - Sò - Ốc</span></a><ul class='level1'>
                                            <li class="level1"><a class='' href='/san-pham/ngao-33820'><span>Ngao</span></a></li>
                                            <li class="level1"><a class='' href='/san-pham/so-33821'><span>Sò</span></a></li>
                                            <li class="level1"><a class='' href='/san-pham/oc-33822'><span>Ốc</span></a></li>
                                            <li class="level1"><a class='' href='/san-pham/hau-33823'><span>Hàu</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="level0"><a class='' href='/san-pham/bao-ngu-33805'><img class='icon-menu' src='/Uploads/icon/s2.png' alt='Bào ngư'> <span>Bào ngư</span></a></li>
                                    <li class="level0"><a class='' href='/san-pham/tom-33806'><img class='icon-menu' src='/Uploads/icon/s3.png' alt='Tôm'> <span>Tôm</span></a></li>
                                    <li class="level0"><a class='' href='/san-pham/muc-33807'><img class='icon-menu' src='/Uploads/icon/s4.png' alt='Mực'> <span>Mực</span></a></li>
                                    <li class="has-child level0">
                                        <a class='' href='/san-pham/ca-33808'><img class='icon-menu' src='/Uploads/icon/s5.png' alt='Cá'> <span>Cá</span></a><ul class='level1'>
                                            <li class="level1"><a class='' href='/san-pham/ca-ngu-dai-duong-33824'><span>Cá ngừ đại dương</span></a></li>
                                            <li class="level1"><a class='' href='/san-pham/ca-hoi-33825'><span>Cá hồi</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="has-child level0">
                                        <a class='' href='/san-pham/cua-nghe-33809'><img class='icon-menu' src='/Uploads/icon/s6.png' alt='Cua nghẹ'> <span>Cua nghẹ</span></a><ul class='level1'>
                                            <li class="level1"><a class='' href='/san-pham/cua-33826'><span>Cua</span></a></li>
                                            <li class="level1"><a class='' href='/san-pham/nghe-33827'><span>Nghẹ</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="level0"><a class='' href='/san-pham/sua-33810'><img class='icon-menu' src='/Uploads/icon/s7.png' alt='Sứa'> <span>Sứa</span></a></li>
                                    <li class="level0"><a class='' href='/san-pham/hai-san-dong-hop-che-bien-33811'><img class='icon-menu' src='/Uploads/icon/s8.png' alt='Hải sản đóng hộp - chế biến'> <span>Hải sản đóng hộp - chế biến</span></a></li>
                                    <li class="has-child level0">
                                        <a class='' href='/san-pham/hai-san-kho-33812'><img class='icon-menu' src='/Uploads/icon/s9.png' alt='Hải sản khô'> <span>Hải sản khô</span></a><ul class='level1'>
                                            <li class="level1"><a class='' href='/san-pham/hai-san-kho-33828'><span>Hải sản khô</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="level0"><a class='' href='/san-pham/san-pham-khac-33813'><img class='icon-menu' src='/Uploads/icon/s9.png' alt='Sản phẩm khác'> <span>Sản phẩm khác</span></a></li>
                                </ul>--%>
                            </div>
                        </div>
                    </div>
                    <nav class="col-md-9 col-sm-12 col-xs-12 p-l-0">
                        <ul class='menu nav navbar-nav menu_hori'>
                            <li class="level0"><a class='' href='/'><span>Trang chủ</span></a></li>
                            <li class="level0"><a class='' href='/ban-do-chay'><span>Đồ chay</span></a></li>
                            <li class="level0"><a class='' href='/cam-nang-nau-an'><span>Cẩm nang nấu chay</span></a></li>
                            <li class="level0"><a class='' href='/gioi-thieu'><span>Giới thiệu</span></a></li>
                            <li class="level0"><a class='' href='/lien-he'><span>Liên hệ</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </nav>
    <!-- End main menu -->
    @*<script type="text/javascript">
            $(document).ready(function () {
                var str = location.href.toLowerCase();
                $("ul.menu li a").each(function () {
                    if (str.indexOf(this.href.toLowerCase()) >= 0) {
                        $("ul.menu li").removeClass("active");
                        $(this).parent().addClass("active");
                    }
                });
            });
        </script>*@
    <!--Template--

    --End-->
</div>