<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- ############################## -->
    <add key="PolicyOfDimArray" value="|73x55|102x102|350x350|600x600|620x324|885x241|885x400|600x-|800x-|" />
  </appSettings>

  <system.web>
    <customErrors mode="On"/>
    <httpRuntime maxRequestLength="2097151" />
    <globalization culture="vi-VN" uiCulture="vi-VN" />
    <pages enableViewState="false" validateRequest="false" />
    <compilation debug="false" />
    <authentication mode="Forms">
      <forms slidingExpiration="true" defaultUrl="/" loginUrl="/Login.aspx" timeout="60" />
    </authentication>
    <caching>
      <sqlCacheDependency configSource="cache.config" />
    </caching>
    <httpModules>
      <!--<add name="PageCompressionModule" type="Miron.Web.MbCompression.PageCompressionModule"/>-->
    </httpModules>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />

    <staticContent>
      <clientCache cacheControlMode="UseExpires" httpExpires="Sun, 15 Dec 2019 00:00:00 GMT" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="cache-control" value="pubic" />
      </customHeaders>
    </httpProtocol>
    <caching>
      <profiles>
        <add extension=".gif" policy="DontCache" kernelCachePolicy="CacheForTimePeriod" duration="23:00:30" />
        <add extension=".png" policy="DontCache" kernelCachePolicy="CacheForTimePeriod" duration="23:00:30" />
        <add extension=".jpg" policy="DontCache" kernelCachePolicy="CacheForTimePeriod" duration="23:00:30" />
        <add extension=".jpeg" policy="DontCache" kernelCachePolicy="CacheForTimePeriod" duration="23:00:30" />
        <add extension=".bmp" policy="DontCache" kernelCachePolicy="CacheForTimePeriod" duration="23:00:30" />
      </profiles>
    </caching>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
