
@using Entity;
@model List<CategoryEntity>

@if (Model != null && Model.Count > 0)
{
    <div class="menu-product">
        <h3>
            <span>
                Sản phẩm
            </span>
        </h3>
        @*<ul class='level0'>
                <li class="child">
                    <span><a href='/san-pham/nghao-so-oc-33804'><i class='fa fa-arrow-circle-right'></i> Nghao - Sò - Ốc</a></span>
                    <span class='open-close'><i class='fa fa-angle-down'></i></span>
                    <ul class='level1 hidden-xs'>
                        <li><span><a href='/san-pham/ngao-33820'><i class='fa fa-check'></i> Ngao</a></span></li>
                        <li><span><a href='/san-pham/so-33821'><i class='fa fa-check'></i> Sò</a></span></li>
                        <li><span><a href='/san-pham/oc-33822'><i class='fa fa-check'></i> Ốc</a></span></li>
                        <li><span><a href='/san-pham/hau-33823'><i class='fa fa-check'></i> Hàu</a></span></li>
                    </ul>
                </li>
                <li><span><a href='/san-pham/bao-ngu-33805'><i class='fa fa-arrow-circle-right'></i> Bào ngư</a></span></li>
            </ul>*@
        <ul class='level0'>
            @foreach (var item in Model)
            {
                <li>
                    <span>
                        <a class="" href="/@item.DisplayUrl" title="@item.Name">
                            <i class='fa fa-arrow-circle-right'></i> @item.Name
                        </a>
                    </span>
                </li>
            }
        </ul>
    </div>
}