
<div class="col-md-12">

    @Html.Action("Breadcrumb", "Category", new { cateName = "Hoàn tất" })

    <div class="payment-end">
        <div class="">
            <div class="alert alert-success fade in">
                <i class="fa-fw fa fa-check"></i>
                <strong>Success! </strong>
                <span>Đơn hàng của bạn đã được mua thành công</span>
            </div>
        </div>
        <div class="payment-order clearfix">
            <h3>Mã đơn hàng của bạn: <b>#100000031</b></h3>
            <p><b>Ngày đặt:</b> <i>03/11/2018</i></p>
            <p><b>Phương thức thanh toán:</b> <i></i></p>
            <h1>Thông tin đơn hàng</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Sản phâm</th>
                        <th>Đơn giá</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>
                            <span>  Ngao 2 cồi</span>
                            <p class="note">25-30 con/kg</p>
                        </td>
                        <td>190.000</td>
                        <td>1</td>
                        <td>190.000đ</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>
                            <span>  Ốc móng tay</span>
                            <p class="note">15-20 con/kg</p>
                        </td>
                        <td>370.000</td>
                        <td>2</td>
                        <td>740.000đ</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4" class="text-right label-payment"><b>Tổng thanh toán:</b></td>
                        <td class="total-payment">930.000 đ</td>
                    </tr>
                </tfoot>
            </table>
            <span class="print-order"><a href="#"><i class="fa fa-print"></i>In đơn hàng</a></span>
        </div>
        <div class="clearfix col-md-12">
            <div class="button text-right">
                <a class="btn btn-default" href="/">Tiếp tục mua hàng</a>
                <a class="btn btn-primary" href="/don-hang">Đơn hàng của tôi</a>
            </div>
        </div>
    </div>
</div>
